@model DoAn4.Models.NhomSanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaNhomSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNhomSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenNhomSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNhomSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button class="btn btn-outline btn-info" type="button" style="text-decoration:none;"><i class="fa fa-arrow-left" aria-hidden="true"></i>  @Html.ActionLink("Quay Lại", "Index")</button>
            <input type="submit" value="Xóa" class="btn btn-default" /> 
        </div>
    }
</div>
