@using PagedList.Mvc;
@model PagedList.IPagedList<DoAn4.Models.NhanVien>

@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="DanhsachAdmin" style="margin-left: 13px">
    <h2>Danh Sách Admin</h2>
</div>

@using (Html.BeginForm("Index", "TimKiem", FormMethod.Post))
{
    <div class="row" style="margin-bottom:10px">
        <div class="col-lg-12">
            <div class="col-md-4">
                <input type="text" name="seachString" value=" " />
            </div>
            <div class="col-md-4" style="margin-left:-171px">
                <button type="submit">Tìm Nhanh</button>
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TenDangNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MatKhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().QuyenHan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().GhiChu)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDangNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <img src="@Url.Content("~/HinhAnhSP/" + item.Image)" alt="Image" width="60" height="80" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuyenHan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                <button type="button" class="btn btn-outline btn-info" style="margin-bottom:3px;">
                    <i class="fa fa-pencil-square-o"></i>@Html.ActionLink("Sửa", "Edit", new { @MaNV = item.MaNhanVien })
                </button>
                <button type="button" class="btn btn-outline btn-info" style="margin-bottom:3px;"><i class="fa fa-pencil-square-o"></i>  @Html.ActionLink("Xóa", "Delete", new { @MaNV = item.MaNhanVien })</button>
            </td>
        </tr>
    }


</table>
<div class="Them">
    <button class="btn btn-outline btn-info" type="button" style="text-decoration:none;"><i class="fa fa-plus"></i> @Html.ActionLink("Thêm Admin", "Create")</button>
</div>
<div class="Page-Trang">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("TrangChu", new { page = page }))
</div>
<style>
    .Page-Trang {
        float: right;
        margin-right: 50px;
        margin-top: -35px;
    }
</style>