@model DoAn4.Models.BaiViet

@{
    ViewBag.Title = "Sua";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

<style>
    .form-horizontal label {
        margin-bottom: 0px;
        margin-top: 26px;
    }

    #divRight {
        display: none;
    }

    #slider {
        display: none;
    }

    #divMenuLeft {
        display: none;
    }

    .mid {
        display: none;
    }

    .form-horizontal label {
        width: 200px;
    }

    .col-md-10 {
        margin-top: -30px;
    }

    .Edt {
        border-radius: 5px;
    }
</style>
<div class="them" style="margin-left:360px; background-color:#bff595; width:600px;padding-left:10px;text-align:center;margin-top:110px  ">
    <h2 style="color:green">Chỉnh sửa bài viết</h2>
    <h1 style="color:red">@ViewBag.ThongBao</h1>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
           
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.MaBaiViet)

            <div class="form-group">
                <div style="margin-left:30px;color:black">
                    @Html.LabelFor(model => model.MaChuyenMuc, new { @class = "control-label col-md-2" })</div>
                    <div class="col-md-10" style="margin-left:-150px;">
                        @Html.DropDownList("MaChuyenMuc")

                    </div>
                </div>

            <div class="form-group" style="margin-top:-25px">
                <div style="margin-left: 15px; color: black">
                    @Html.LabelFor(model => model.MaNhomSanPham, new { @class = "control-label col-md-2" })</div>
                <div class="col-md-10" style="margin-left:-102px;">
                    @Html.DropDownList("MaNhomSanPham")

                </div>
                </div>
            @Html.HiddenFor(model => model.MaKhachHang)
            @*<div class="form-group">
                    @Html.LabelFor(model => model.MaKhachHang, "MaKhachHang", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                       <span>@Model.MaKhachHang</span>
                        @Html.ValidationMessageFor(model => model.MaKhachHang)
                    </div>
                </div>*@
           
            <div class="form-group" style="margin-top:-25px">
                <div style="margin-left: 33px; color: black">
                    @Html.LabelFor(model => model.MaVungMien, new { @class = "control-label col-md-2" })</div>
                <div class="col-md-10" style="margin-left:-80px;">
                    @Html.DropDownList("MaVungMien")

                </div>
                </div>


            <div class="form-group" style="margin-top:-20px">
                <div style="margin-left: 44px; color: black">
                    @Html.LabelFor(model => model.TieuDe, new { @class = "control-label col-md-2" })</div>
                <div class="col-md-10" style="margin-left:50px;">
                    @Html.EditorFor(model => model.TieuDe)
                    <br />
                    <div style="color:red">
                        @Html.ValidationMessageFor(model => model.TieuDe)
                    </div>
                </div>
                </div>
     
            <div class="form-group" style="margin-top:-15px">
                <div style="margin-left: 36px; color: black">
                    @Html.LabelFor(model => model.NoiDung, new { @class = "control-label col-md-2" })</div>
                <div class="col-md-10" style="margin-left:50px;">
                    @Html.EditorFor(model => model.NoiDung)
                    <br />
                    <div style="color:red">
                        @Html.ValidationMessageFor(model => model.NoiDung)
                    </div>
                </div>
                </div>
     
            <div class="form-group" style="margin-top:-18px">
                <div style="margin-left: 30px; color: black">
                    @Html.LabelFor(model => model.NgayDang, new { @class = "control-label col-md-2" })</div>
                <div class="col-md-10" style="margin-left:52px;">
                    @Html.TextBoxFor(model => model.NgayDang)
                    <br />
                    <div style="color:red">
                        @Html.ValidationMessageFor(model => model.NgayDang)
                    </div>
                </div>
                </div>

            @*<div class="form-group">
                    @Html.LabelFor(model => model.NgayHetHan, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NgayHetHan)
                        @Html.ValidationMessageFor(model => model.NgayHetHan)
                    </div>
                </div>*@

            @*<div class="form-group">
                    @Html.LabelFor(model => model.NgayDuyet, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NgayDuyet)
                        @Html.ValidationMessageFor(model => model.NgayDuyet)
                    </div>
                </div>*@
     
            <div class="form-group" style="margin-top:-16px">
                <div style="margin-left: 22px; color: black">
                    @Html.LabelFor(model => model.TenNguoiLienHe, new { @class = "control-label col-md-2" })</div>
                <div class="col-md-10" style="margin-left:50px;">
                    @Html.EditorFor(model => model.TenNguoiLienHe)
                    <br />
                    <div style="color:red">
                        @Html.ValidationMessageFor(model => model.TenNguoiLienHe)
                    </div>
                </div>
                </div>
         
            <div class="form-group" style="margin-top:-14px">
                <div style="margin-left: 43px; color: black">
                    @Html.LabelFor(model => model.DiaChiLienHe, new { @class = "control-label col-md-2" })</div>
                <div class="col-md-10" style="margin-left:50px;">
                    @Html.EditorFor(model => model.DiaChiLienHe)
                    <br />
                    <div style="color:red">
                        @Html.ValidationMessageFor(model => model.DiaChiLienHe)
                    </div>
                </div>
                </div>
         
            <div class="form-group" style="margin-top:-14px">
                <div style="margin-left: 20px; color: black">
                    @Html.LabelFor(model => model.SDTLienHe, new { @class = "control-label col-md-2" })</div>
                <div class="col-md-10" style="margin-left:50px;">
                    @Html.EditorFor(model => model.SDTLienHe)
                    <br />
                    <div style="color:red">
                        @Html.ValidationMessageFor(model => model.SDTLienHe)
                    </div>
                </div>
                </div>
          
            <div class="form-group" style="margin-top:-14px">
                <div style="margin-left: 50px; color: black">
                    @Html.LabelFor(model => model.EmailLienHe, new { @class = "control-label col-md-2" })</div>
                <div class="col-md-10" style="margin-left:50px;">
                    @Html.EditorFor(model => model.EmailLienHe)
                    <br />
                    <div style="color:red">
                        @Html.ValidationMessageFor(model => model.EmailLienHe)
                    </div>
                </div>
                </div>
            
            <div class="form-group" style="margin-top:-14px">
                <div style="margin-left: 55px; color: black">
                    @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })</div>
                <div class="col-md-10" style="margin-left:45px;">
                    @Html.EditorFor(model => model.Image)

                    @*<div class="col-md-10">
                <input type="file" name="fileupload" />
            </div>*@
                    <div style="color:red">
                        @Html.ValidationMessageFor(model => model.Image)
                    </div>
                </div>
                </div>
           
            <div class="form-group" style="margin-top:-16px">
                <div style="margin-left: 55px; color: black">
                    @Html.LabelFor(model => model.GiaBan, new { @class = "control-label col-md-2" })</div>
                <div class="col-md-10" style="margin-left:50px;">
                    @Html.EditorFor(model => model.GiaBan)
                    <br />
                    <div style="color:red">
                        @Html.ValidationMessageFor(model => model.GiaBan)
                    </div>
                </div>
                </div>
            <hr />
            @*<div class="form-group">
                    @Html.LabelFor(model => model.TrangThai, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TrangThai)
                        @Html.ValidationMessageFor(model => model.TrangThai)
                    </div>
                </div>*@

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lưu lại" style="background-color: green; height: 30px; cursor: pointer; width: 90px; color: white;" class="btn btn-default" />
                </div>
            </div>
        </div>
    }


    </div>
